* {
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.panel{
    min-width: 100vw;
    min-height: 100vh;
}

#header{
    min-width: 100vw;
    min-height: 7vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f2f2f2;  
    /* border: 1px solid black; */
}

#productWelcome{
    background: url(oldsaltplant.jpg) no-repeat center local;
    background-size: cover;
}

#welcomeLinks{
    background: #ffffff;
    max-width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* height: 10vh; */
    padding: 1.5%;
    position: relative;
    top: 10vh;
}

.welcomeLink{
    font-size: 1.4em;
}

#productDescription{
   background: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.descriptionBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.descriptionBlock>ul{
    list-style-type: none;
    padding: 0px;
}


.flipBox{
    background-color: transparent;
    /* min-height: 50vh; */
    perspective: 1000px;
}

.flipBoxInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipBox:hover .flipBoxInner {
    transform: rotateY(180deg);
}

.flipBoxFront, .flipBoxBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipBoxFront {
    background-color: #bbb;
    color: black;
}

.flipBoxFront>img, .flipBoxBack>img{
    max-width: 15vw;
    height: auto;
}

.flipBoxBack {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


#productVideo{
    background: lightgoldenrodyellow;
    display: flex;
   justify-content: center;
   align-items: center;
}

#videoContainer>h1{
    font-size: 1.5em;

}

#videoContainer>h2{
font-size: 1.1em;
text-align: center;
}

#playerContainer{
    margin: auto;
    width: 641px;
    margin-top: 10vh;
}

#productRequest{
    background: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productRequest>h1{
    margin-bottom: 5vh;
}

#productRequest label{
    font-size: 1.4em;
}

#productRequest input[type="submit"]{
    font-size: 1.4em;
    float: right;
}

.userInput{
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1.4em;
}

.nav-link{
    font-size: 1.4em;
    margin: 0 5vw 0 5vw;
    /* border: 1px solid black; */
    min-height: 5vh;
    min-width: 20vw;
    text-align: center;
    transition: font-size 0.05s ease-out;
}


.nav-link:hover{
    font-size: 1.50em;
}

