body{
    font-family: 'Open Sans', sans-serif;
}

#header{
    width: 100%;
    min-height: 7vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    /* border: 1px solid black; */
}

#productDescription{
   background: lightblue;
    height: 100vh;
}

#cloroxFront{
width: 50%;
height: 50%;
}

#productVideo{
    height: 100vh;
    background: lightgoldenrodyellow;
}

#productRequest{
    height: 100vh;
    background: lightsalmon;
}

.nav-link{
    font-size: 1.4em;
    margin: 0 5vw 0 5vw;
    /* border: 1px solid black; */
    min-height: 5vh;
    min-width: 20vw;
    text-align: center;
    transition: font-size 0.05s ease-out;
}

.nav-link:hover{
    font-size: 1.50em;
}

